<div class="container">
  
  <h1>Add A Collection Entry</h1>
  <form action="/create_collection">
    <div class="col-md-6">
      <label for="site_name">Collection Name:</label><br />
      <input id="site_name" name="site_name" type="text" style="border-radius:13px;"/>
    </div>
    <div class="col-md-6">
      <label for="site_url">Collection Entry URL:</label><br />
      <input id="site_url" name="site_url" type="text" style="border-radius:13px;"/>
    </div>
    <div class="col-md-6">
      <label for="description">Collection Entry Description:</label><br />
      <input id="description" name="description" type="text" style="border-radius:13px;"/>
    </div>
    <div class="col-md-6">
      <label for="c_name">Collection Entry's General Category:</label><br />
      <input id="c_name" name="c_name" type="text" style="border-radius:13px;"/>
    </div>
    <div class="col-md-6">
      <input type="submit" style="border-radius:3px;">
    </div>
  </form>
  <p><a class="btn btn-primary btn-lg" role="button" href="/collections">Never mind about entries, take me to the public collection</a></p>
</div>

