<h1>Editing Website #<%= @website.id %></h1>

<form action="/websites/<%= @website.id %>/update">
  <div>
    <label for="site_url">site_url</label><br />
    <input id="site_url" name="site_url" value="<%= @website.site_url  %>" type="text" />
  </div>
  <div>
    <label for="site_name">site_name</label><br />
    <input id="site_name" name="site_name" value="<%= @website.site_name  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


