
<div class="container">
  
  <h1>New Collection Entry</h1>
<form action="/create_website">
    <div class="col-md-6">
    <label for="site_name">Website Name:</label><br />
    <input id="site_name" name="site_name" type="text" style="border-radius:13px;"/>
  </div>
  <!-- <div class="col-md-6">
    <label for="site_id">Website ID:</label><br />
    <input id="site_id" name="site_id" type="text" style="border-radius:13px;"/>
  </div> -->
  <div class="col-md-6">
    <label for="site_url">Website URL:</label><br />
    <input id="site_url" name="site_url" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <input type="submit" style="border-radius:3px;">
  </div>

