<div class="well well-lg">
    <h2>Websites <span class="text-muted pull-right">View websites below</span></h2>
  </div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
    <h3>Website URL:</h3>
  </div>
    <div class="panel-body">
      <div class="col-md-3">
        <li class="panel-content"><a href="#"><%= @website.site_url %></a></li>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Website Name:</h3>
    </div>
    <div class="panel-body">
     <div class="col-md-3">
       <li class="panel-content"><a href="#"><%= @website.site_name %></a></li>
     </div>
   </div>
  </div>
</div>
<a href="/websites/<%= @website.id %>/edit">Edit</a> |
<a href="/websites/<%= @website.id %>/destroy">Destroy</a>
