<h1>Editing Website Collection #<%= @website_collection.id %></h1>

<form action="/website_collections/<%= @website_collection.id %>/update">
  <div>
    <label for="website_id">website_id</label><br />
    <input id="website_id" name="website_id" value="<%= @website_collection.website_id  %>" type="text" />
  </div>
  <div>
    <label for="collection_id">collection_id</label><br />
    <input id="collection_id" name="collection_id" value="<%= @website_collection.collection_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


