<h1>New Website Collection</h1>

<div class="container">
  <form action="/create_website_collection">
   <div class="col-md-6">
    <label for="website_id">User ID:</label><br />
    <input id="website_id" name="website_id" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <label for="collection_id">Collection ID:</label><br />
    <input id="collection_id" name="collection_id" type="text" style="border-radius:13px;"/>
    </div>
  <div class="col-md-6">
    <input type="submit" style="border-radius:3px;">
  </div>
</form>
 