<div class="well well-lg">
    <h2>Website Collections<span class="text-muted pull-right"><a href="/new_website_collection">Add a New Website Collection</a></span></h2>
  </div>

<div class="panel panel-default">
      <!-- Default panel contents -->
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Website</th>
            <th>Collection ID</th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td>1</td>
            <td><a href="#"><% @website_collection.website_id%>
              <a href="/website_collections %>">Show</a>
              <a href="/website_collections/<%= @website_collection.id %>/edit">Edit</a>
              <a href="/website_collections/<%= @website_collection.id %>/destroy">Destroy</a>
             </td>
            <td><a href="#"><% @website_collection.collection_id %>
              <a href="/websites %>">Show</a>
              <a href="/collections/<%= @website_collection.id %>/edit">Edit</a>
              <a href="/collections/<%= @website_collection.id %>/destroy">Destroy</a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>