<div class="container">
  <h1>New User</h1>
  
<form action="/create_user">
    <div class="col-md-6">
    <label for="username">Username:</label><br />
    <input id="username" name="name" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <label for="email">Email:</label><br />
    <input id="email" name="email" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <label for="password">Password:</label><br />
    <input id="password" name="password" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <label for="password_confirmation">Password Confirmation:</label><br />
    <input id="password_confirmation" name="password_confirmation" type="text" style="border-radius:13px;"/>
  </div>
  <div class="col-md-6">
    <input type="submit" style="border-radius:3px;">
  </div>
</form>
</div>
