<h1>Editing User Collection #<%= @user_collection.id %></h1>

<form action="/user_collections/<%= @user_collection.id %>/update">
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" value="<%= @user_collection.user_id  %>" type="text" />
  </div>
  <div>
    <label for="collection_id">collection_id</label><br />
    <input id="collection_id" name="collection_id" value="<%= @user_collection.collection_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


