<div class="well well-lg">
    <h2>User Collections<span class="text-muted pull-right"><a href="/new_user_collection">Add a New User Collection</a></span></h2>
  </div>

<div class="panel panel-default">
      <!-- Default panel contents -->
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>User</th>
            <th>Collection ID</th>
          </tr>
        </thead>
        <tbody>
         
          <tr>
            <td>1</td>
            <td><%= user_collection.user_id %></td>
            <td><%= user_collection.collection_id %></td>
            <td><a href="/websites %>">Show</a></td>
            <td><a href="/collections/<%= user_collection.id %>/edit">Edit</a></td>
            <td><a href="/collections/<%= user_collection.id %>/destroy">Destroy</a></td>
          </tr>
        </tbody>
      </table>
    </div>