<h1>New User Collection</h1>

<form action="/create_user_collection">
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <label for="collection_id">collection_id</label><br />
    <input id="collection_id" name="collection_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

