<div class="container">
 <h1>New User Collection</h1>
  <form action="/create_user_collection">
    <div class="col-md-6">
      <label for="user_id">User ID:</label><br />
      <input id="user_id" name="user_id" type="text" style="border-radius:13px;"/>
    </div>
    <!-- <div class="col-md-6">
      <label for="site_id">Website ID:</label><br />
      <input id="site_id" name="site_id" type="text" style="border-radius:13px;"/>
    </div> -->
    <div class="col-md-6">
      <label for="collection_id">Collection ID:</label><br />
      <input id="collection_id" name="collection_id" type="text" style="border-radius:13px;"/>
    </div>
    <div class="col-md-6">
      <input type="submit" style="border-radius:3px;">
    </div>
  </form>
</div>